#headerr{
    background-image: url(stairs.jpg);
    height: 65vh;
    background-size: cover;
    
}

#serv{

    background-image: url(board.jpg);
    height: 50vh;
    background-size: cover;
}
#contact{

    background-image: url(c.jpg);
    height: 80vh;
}
