#headerr{
    background-image: url(stairs.jpg);
    height: 65vh;
    background-size: cover;
    
}

#serv{

    background-image: url(board.jpg);
    height: 50vh;
    background-size: cover;
}
#contact{

    background-image: url(c.jpg);
    height: 80vh;
}

#image{

    position: relative;
    
}
.picha{

    display:inline-block;
    

}

.word{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 50px;
    box-shadow: none;
    border-color: white;
    border-style: solid;
    

    

}
.word:hover{
    opacity: 1;
}


